@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: Fiesta;
        src: url('../fonts/fiesta-rumba.ttf');
    }

    @font-face {
        font-family: Unbounded;
        src: url('../fonts/Unbounded.ttf');
    }

}

h1 {
    font-family: Fiesta;
}

body {
    font-family: Unbounded;
}